{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>Apply Leave</title>
{% endblock title %}


{% block main_content %}
<div class="form-container">
  <div class="form-header">
    <h2>Apply for Leave</h2>
  </div>

  <!-- Display Non-Field Errors -->
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {{ form.non_field_errors }}
    </div>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <!-- Form Buttons -->
    <div style="margin-top: 20px;">
      <button type="submit" class="btn">Submit Leave Request</button>
      <a href="{% url 'employee_dashboard' %}" class="btn btn-secondary">Cancel</a>
    </div>
  </form>
</div>
{% endblock main_content %}